.nowPlaying{
		padding: 0px 10px 30px 60px;
		font-size: 1.2em;
		width:100%;
		text-align:left;
		background: url(images/play.png) no-repeat left 12%;
		min-height:40px;
		display: block;
		text-decoration:none;
	};
	.playerTitle{margin: 24px 12px}
</style>